---
import Section from '@/components/Section.astro'
import {skills} from '@cv'
---
<div class="container">
    <Section title = 'Skills'>
        <ul>
            {
                skills.map(({ name, level, keywords }) => (
                        <li>
                            <span>
                                { name }
                            </span>
                        </li>
                    )
                )
            }
        </ul>
    </Section>
</div>
<style>
    ul{
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
    }
    li{
        border-radius: 6px;
        background: #eee;
        color: #444;
        font-size: 0.8em;
        font-weight: 400;
        padding: 0.2em 0.5em;
    }
    .container{
        page-break-inside: avoid;
        display: block;
        display: flex;
        flex-direction: column;
    }
    @media print {
        .container {
            page-break-inside: avoid;
            display: block;
            margin-bottom: -50px;
        }

    }  
</style>